*{
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

/* ================= HERO ================= */
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient;
}

.hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* ================= TOPO ================= */

.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.topo img{
    width: 120px;
    height: auto;
    max-width: 100%;
}